@import url("https://fonts.googleapis.com/css?family=Schoolbell");

html, body {
  font-family: 'Schoolbell', sans-serif;
  font-size: 20px;
}

.outer-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.inner-container {
  background-color: #404040;
}

.header {
  padding-top: 5px;
  border-bottom: 2px solid #dfdfdf;
  letter-spacing: .5em;
}

.header-text {
  padding-left: 15px;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #938930), color-stop(.08, #938930), color-stop(.16, #b49131), color-stop(0.24, #ba852d), color-stop(0.40, #ac5d3e), color-stop(.50, #739131), color-stop(.56, #739131), color-stop(.64, #807477), color-stop(.8, #7c566a), color-stop(.88, #7c566a),color-stop(1, #b14040));
  color: #807477;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.scope-container {
  position: relative;
}

.canvas {
  position: absolute;
}

.button-label {
  color: #fff;
  line-height: 1.4em;
  cursor: pointer;
}

.button-label::selection {
  background-color: #404040;
}

.patterns-link {
  float: right;
  text-decoration: none;
  color: #fff;
  line-height: 2em;
}

.patterns-link::selection {
  background-color: #404040;
}

.sources {
  text-align: center;
  color: #8d8d8d;
  font-size: .5rem;
}

.sources a {
  text-decoration: none;
  color: #8d8d8d;
}

@media (max-width: 767px) {
  .inner-container {
    width: 240px;
  }

  .header {
    padding-bottom: 10px;
  }

  .patterns-container {
    padding-top: 10px;
    padding-bottom: 5px;
    text-align: center;
  }

  .pattern {
    position: relative;
    margin-bottom: 5px;
  }

  .pattern-source {
    position: absolute;
    left: 88%;
    top: 88%;
    transform: rotate(270deg);
    transform-origin: 0 50%;
    color: #bebebe;
    font-size: .5rem;
  }

  .scopes-container {
    padding: 10px 0;
  }

  .scope-container {
    height: 208px;
  }

  .button-label {
    margin-left: 20px;
  }

  .patterns-link {
    margin-right: 20px;
    font-size: .75em;
  }

  .sources {
    padding-bottom: 5px;
  }
}

@media (min-width: 768px) and (max-height: 768px) {
  .inner-container {
    width: 560px;
  }

  .header {
    padding-bottom: 15px;
    font-size: 2.5em;
  }

  .pattern {
    position: relative;
    float: left;
    margin: 10px;
    height: 124px;
  }

  .pattern img {
    width: 166px;
  }

  .pattern-source {
    position: absolute;
    left: 96%;
    top: 93%;
    transform: rotate(270deg);
    transform-origin: 0 50%;
    color: #bebebe;
    font-size: .5rem;
  }

  .scopes-container {
    padding: 20px;
  }

  .scope-container {
    height: 520px;
  }

  .canvas {
    width: 520px;
    height: 520px;
  }

  .button-label {
    margin-left: 40px;
    font-size: 1.5em;
  }

  .patterns-link {
    margin-right: 40px;
  }

  .sources {
    padding: 10px;
  }
}

@media (min-width: 768px) and (min-height: 769px) {
  .inner-container {
    width: 660px;
  }

  .header {
    padding-bottom: 15px;
    font-size: 3em;
  }

  .pattern {
    position: relative;
    height: 150px;
    float: left;
    margin: 10px;
  }

  .pattern-source {
    position: absolute;
    left: 96%;
    top: 93%;
    transform: rotate(270deg);
    transform-origin: 0 50%;
    color: #bebebe;
    font-size: .6rem;
  }

  .scopes-container {
    padding: 20px 18px;
  }

  .scope-container {
    height: 624px;
  }

  .button-label {
    margin-left: 40px;
    font-size: 1.5em;
  }

  .patterns-link {
    margin-right: 40px;
  }

  .sources {
    padding: 10px;
  }
}
